<!doctype html>
<html>

<head>
    <title>Blogz</title>
</head>

<body>
    <div>
        <h1>Blogz</h1>

    </div>
        <nav>
        {% if 'username' in session %}
        <a href="/">Home</a>
        <a href="blog">All Posts</a>
        <a href="newpost">New Post</a>

        <a>

      
        <a href="/logout">Log out</a>
        
        </a>
        <a href="">{{ session['username'] }}</a>
        {% else %}
        <a href="login">Login</a> | <a href="signup">Signup</a> | <a href="/">Home</a> | <a href="newpost">New Post</a>
        {% endif %}
        </nav>
    </div>

    

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}


</body>

</html>


    
    

     
            
        

